#screen {
    background-color: #0081C9;
    height: 640px;
    width: 360px;
    display: flexbox;
}

#back {
    height: 30px;
    width: 30px;
    padding: 10px 0px 0px 5px;
}

#vinyl {
    width: 100%;
    padding: 10px;
}

#wav {
    width: 95%;
    margin: 25px 2.5%;
}

hr {
    margin: 0px 10px;
}

marquee {
    padding-top: 10px;
    padding-right: 10px;
    width: 80%;
    float: right;
}

section section {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px;
}

section section img {
    height: 60px;
    justify-content: center;
}